{$MEDIA_ENGINE_DOMAIN} {
  encode gzip zstd
  reverse_proxy testagram-media-engine:8080
}

{$TV_SRS_DOMAIN} {
  @whipOptions method OPTIONS
  handle @whipOptions {
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Methods "POST, OPTIONS"
    header Access-Control-Allow-Headers "Content-Type, Accept, Authorization"
    header Access-Control-Max-Age "3600"
    respond 204
  }

  handle /rtc/* {
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Methods "POST, OPTIONS"
    header Access-Control-Allow-Headers "Content-Type, Accept, Authorization"
    header Access-Control-Expose-Headers "Location"
    reverse_proxy testagram-tv-srs:1985
  }

  handle /healthz {
    rewrite * /api/v1/versions
    reverse_proxy testagram-tv-srs:1985
  }

  respond 404
}
